*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

main{
    font-family: 'Roboto Mono', monospace;
}
.landing{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    padding: 0rem 5rem;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
.nav-link li{
    padding-left: 10rem;
    font-size: 1.2rem;
}
#logo{
    color: white;
    font-family: cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.big-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: 'Roboto Mono', monospace; color: white;
    text-transform: uppercase;
}
.landing h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: white;
}


.container{
    padding: 40px 40px 40px 40px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-greybg{
    padding: 40px 40px 40px 40px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #EEEEEE;
}
.container-darkgrey{
    padding: 40px 40px 40px 40px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #333333;
}
.container-darkgrey h2{
    color: white;
    margin: 0 auto;
    width: 100%;
}

/*MainPage Stats*/
.update-status{
    margin-top: 12%;
    margin-left: 43%;
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    font-weight: 500;
    font-size: 12px;
}
.main-stats{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 60px;
    z-index: 2;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}
.main-stats-center{
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(255,255,255,0.4); 
}
.centered-reset{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.stat-infographic{
    color: white;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 30.33333%;
    box-sizing: border-box;
}
.stat-number-current1{
    color: white;
    text-decoration: bold;
    font-size: 60px;
    border-right: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
}
.stat-number-current{
    color: white;
    text-decoration: bold;
    font-size: 60px;
}
.case-updates{
    margin: 8px;
    font-size: 15px;
    background: #ee1250;
    color: #ffffff;
    display: inline-block;
    padding: 2px 6px 3px 6px;
    -webkit-border-radius:3px;
    border-radius: 2px;
    text-align: center;
}

/*Cases by country*/
.header{
    line-height: 1.25;
    margin-bottom: 40px;
}
.graph-section-header h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
}
p{
    margin: 0;
    color: #888888;
}
.active{
    background-color: #666;
    color: white;
}
#toggle{
    padding: 10px;
}

//*Chartjs*/
a {
	text-decoration: none;
	color: #212121;
	transition: 0.3s ease;
}
a:hover {
	color: #00ffbc;
	transition: 1s ease;
}
svg {
	outline: 1px dashed #666;
}
.screen1 {
	position: relative;
	width: 100%;
	height: 80vh;
	border: 0;
	padding: 10px;
	display: flex;
	flex-direction: row;
	text-align: center;
	background: #fff;
	color: #fff;
	overflow: hidden;
}
.screen1 canvas{
    background: #fff;
}
screen2{
    height: 40px;
}
.screen2 canvas{
    position: relative;
    width: 100%;
    background: #EEEEEE;
}
.screen3 canvas{
    background: #333333;
}
.screen3{
    position: relative;
    left: 25%;
    width: 50%;
}
.screen4{
    height: 400px;
}
.screen5{
    height: 100px;
}


.footer{
    height: 200px;
    padding-top: 800px;
    text-align: center;
}
/*Animated homepage*/
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

